<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789395890444-juiksjnucrsngcnga1qt59ls6vj9laqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789395890444-juiksjnucrsngcnga1qt59ls6vj9laqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCYL6gAJUBg0tq8VJ5yQsI36deiJaKrpIA</string>
	<key>GCM_SENDER_ID</key>
	<string>789395890444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendpost.sendpost</string>
	<key>PROJECT_ID</key>
	<string>sendpost-ee178</string>
	<key>STORAGE_BUCKET</key>
	<string>sendpost-ee178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789395890444:ios:bab4770a19cd5b289f6929</string>
</dict>
</plist>